In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [2]:
bankdata=pd.read_excel("C:/Users/psing/Box/LetsUpgrade AI-ML/Day 24/Dataset/Bank_Personal_Loan_Modelling.xlsx",sheet_name="Data")

In [3]:
bankdata.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
bankdata.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

# RANDOM FOREST FOR PRE-PRUNING

In [5]:
rf_model=RandomForestClassifier(n_estimators=100,max_features=2,oob_score=True)

In [6]:
features=['Age', 'Experience', 'Income', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [7]:
rf_model.fit(X=bankdata[features],y=bankdata['Personal Loan'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [8]:
print("OOB Accuracy:")
print(rf_model.oob_score_);

OOB Accuracy:
0.9878

In [9]:
for feature,imp in zip(features, rf_model.feature_importances_):
    print(feature,imp);

Age 0.04581749681160642
Experience 0.044954850942090625
Income 0.32488640877935304
Family 0.10254917132003862
CCAvg 0.18852757507923038
Education 0.171607564259624
Mortgage 0.04787286421199446
Securities Account 0.0053047745909509956
CD Account 0.05063407306751331
Online 0.008275586981800996
CreditCard 0.009569633955797211

## important variables 

Experience 0.04535425835706763

Income 0.3384706166167278

CCAvg 0.18557432455320913

Education 0.16365379876647942

# Decision Tree

In [10]:
tm=tree.DecisionTreeClassifier(max_depth=8, max_leaf_nodes=6)

In [11]:
tm.fit(X=pd.DataFrame(bankdata['Income']),y=bankdata['Personal Loan'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
                       max_features=None, max_leaf_nodes=6,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [12]:
with open("Project2_income.dot",'w') as f:
    f=tree.export_graphviz(tm,feature_names=['Income'],out_file=f);

In [13]:
pred=pd.DataFrame([bankdata['Income'],bankdata['Education'],bankdata['Experience'],bankdata['CCAvg']]).T

In [14]:
tm.fit(X=pred,y=bankdata['Personal Loan'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
                       max_features=None, max_leaf_nodes=6,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [15]:
with open("Project2_AllFour.dot",'w') as f:
    f=tree.export_graphviz(tm,feature_names=['Income','Education','Experience','CCAvg'],out_file=f);