In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [3]:
att_data=pd.read_csv('C:/Users/psing/Box/LetsUpgrade AI-ML/Day 24/Dataset/Attrition_general_data.csv')

In [4]:
att_data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [5]:
att_data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [57]:
label_encoder=preprocessing.LabelEncoder()

In [58]:
att_data['BusinessTravel']=label_encoder.fit_transform(att_data['BusinessTravel'])

In [59]:
att_data['Attrition']=label_encoder.fit_transform(att_data['Attrition'])

In [60]:
att_data['Department']=label_encoder.fit_transform(att_data['Department'])

In [61]:
att_data['EducationField']=label_encoder.fit_transform(att_data['EducationField'])

In [62]:
att_data['Gender']=label_encoder.fit_transform(att_data['Gender'])

In [63]:
att_data['MaritalStatus']=label_encoder.fit_transform(att_data['MaritalStatus'])

In [64]:
att_data['JobRole']=label_encoder.fit_transform(att_data['JobRole'])

In [65]:
att_data=att_data.dropna()

In [66]:
att_data=att_data.drop_duplicates()

# RANDOM FOREST FOR PRE-PRUNING

In [67]:
rf_model=RandomForestClassifier(n_estimators=100,max_features=2,oob_score=True)

In [68]:
features=['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [69]:
rf_model.fit(X=att_data[features],y=att_data['Attrition'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [70]:
print("OOB Accuracy:")
print(rf_model.oob_score_)

OOB Accuracy:
0.9995435874030123

In [71]:
for feature,imp in zip(features, rf_model.feature_importances_):
    print(feature,imp);

Age 0.09213501529521377
BusinessTravel 0.026383268195187378
Department 0.025054549682367273
DistanceFromHome 0.06734590450140832
Education 0.03836848244282657
EducationField 0.04173392492845453
EmployeeCount 0.0
EmployeeID 0.0366219567789227
Gender 0.016503875488728597
JobLevel 0.03733958712134543
JobRole 0.05271110767787742
MaritalStatus 0.038546788920691154
MonthlyIncome 0.08777300154273715
NumCompaniesWorked 0.05524101379481845
PercentSalaryHike 0.06289640868900045
StandardHours 0.0
StockOptionLevel 0.031062321287484075
TotalWorkingYears 0.08362855722296397
TrainingTimesLastYear 0.0436719215759626
YearsAtCompany 0.06691079851272302
YearsSinceLastPromotion 0.042817277018853635
YearsWithCurrManager 0.05325423932243339

In [72]:
tree_model=tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=10)

In [73]:
att_data['TotalWorkingYears']=np.round(att_data['TotalWorkingYears'])

In [74]:
att_data['Age']=np.round(att_data['Age'])

In [75]:
att_data['MonthlyIncome']=np.round(att_data['MonthlyIncome'])

In [83]:
predictors=pd.DataFrame([att_data['TotalWorkingYears'],att_data['Age'],att_data['MonthlyIncome']]).T

In [84]:
tree_model.fit(X=predictors,y=att_data['Attrition'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
                       max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [85]:
with open("Project3_all.dot","w") as f:
    f=tree.export_graphviz(tree_model,feature_names=['TotalWorkingYears','Age','MonthlyIncome'],out_file=f);